/*CategoryCard.css*/

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; 
  overflow: hidden; 
}

.category-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  transition: 0.3s; 
}

.category-card:hover .category-image {
  transform: scale(1.1); 
}

.category-title {
  margin-top: 10px;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: #fff; 
  font-weight: bold; 
  font-size: 24px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
