/*CategoriesPage.css*/

.category-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px; /* You can adjust this value if needed */
}

.category-card {
  border-radius: 15px;
}

.category-image {
  border-radius: 15px 15px 0 0;
}
